# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files weather-app

weather-app/node_modules/
weather-app/src/config.js

# Project files weather-app

weather-wizard-API/venv/
weather-wizard-API/.idea
weather-wizard-API/config.py

# Repository files

qodana.yaml
КР_ІП-13_Карамян_В.С.docx
КР_ІП-13_Карамян_В.С.pdf
Weather Wizard Presentation.pptx